
form{
    
    padding: 16px 0;
    margin-right:0;
    text-align:0;
    display: block;
    background-color:rgb(41, 41, 41);
    max-width:500px;
    
}
input{
    width:80%;
    margin:3%;
    border-radius: 7px;
    border:solid 1px gray;
    height:21px;
    background-color:black;
    max-width:700px;
}
#signupheading{
    color:white;
    background-color: black;
    margin:0;
    padding: 24px 0;
}
#signupbutton{
    width: 80%;
    margin-top:4%;
    border-radius:33px;;
    background-color:rgb(13, 146, 255);
    color:white;
    border: 1px solid rgb(41, 41, 41);
}
