.LoginPage{
    display: flex;
    flex-direction:column;
    background-color:rgb(41, 41, 41);
    background-image: url(../images/running-in-snow.jpg);
    min-height: 520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginFormContainer{
    max-width: 550px;
    align-self: center;
    margin: 10% 0;
    
}
form{
    align-self: center;
    padding: 16px 0;
    margin-right:0;
    text-align:0;
    display: block;
    max-width:500px;
    background-color:rgb(41, 41, 41);
    
    
}
input{
    width:80%;
    margin:3%;
    border-radius: 7px;
    border:solid 1px gray;
    height:21px;
    background-color:black;
    max-width:700px;
}
#loginheading{
    color:white;
    background-color: black;
    margin:0;
    padding: 24px 24px;
}
#loginbutton{
    width: 80%;
    margin-top:4%;
    border-radius:33px;;
    background-color:rgb(13, 146, 255);
    color:white;
    border: 1px solid rgb(41, 41, 41);
}

@media screen and (min-width: 500px){
    .loginFormContainer{
        width:454px;
    }
    }