.LandingPage{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    min-height: 520px;
}
.hero{
    font-size: 33px;
    margin: 24px 0px; 
    padding-left:16px;
    padding-right:16px;
}
#landingpage-ui-image{
    height:625px;
    width:342px;
    align-self: center;
}
#landingpage-signup-button{
    margin: 24px 24px;
    width: 290px;
    border-radius: 33px;
    background-color: rgb(13, 146, 255);
    color: white;
    border: 1px solid white;
}
#hero-text{
    font-size: 27px;
    color: gray;
    margin: 24px 0px; 
    padding-left:16px;
    padding-right:16px;
    max-width: 700px;
    
    align-self: center;
    /* text-shadow: 0px 0px 1px black; */

}